<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lucatrifilio.karabiner-watchdog</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ dotfiles_dir }}/kanata-daemon/karabiner-core-service-watchdog.sh</string>
        <string>{{ ansible_user_uid }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>15</integer>
    <key>StandardOutPath</key>
    <string>/tmp/karabiner-watchdog.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/karabiner-watchdog.log</string>
</dict>
</plist>
