<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lucatrifilio.obsidian-backup</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>{{ ansible_env.HOME }}/.scripts/obsidian-git-backup.sh</string>
  </array>

  <key>StandardOutPath</key>
  <string>{{ ansible_env.HOME }}/obsidian-git-launchd.log</string>
  <key>StandardErrorPath</key>
  <string>{{ ansible_env.HOME }}/obsidian-git-launchd.err</string>

  <key>StartInterval</key>
  <integer>{{ obsidian_backup_interval }}</integer>

  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
