[defaults]
inventory = inventory.yml
roles_path = roles
vars_plugins_enabled = host_group_vars
collections_path = ~/.ansible/collections
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
deprecation_warnings = False
